{% extends "base.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" herf="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block header %}
    <h1>{% block title %}Books{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('books.create') }}">New</a>
    {% endif %}
    {% block styles %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block page_content %}
    <table id="books_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Written by</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book['isbn'] }}</td>
                <td>{{ book['title'] }}</td>
                <td>{{ book['author'] }}</td>
                <td>{{ book['year'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            console.log($('#books_table'));
            $('#books_table').DataTable();
        });
    </script>
{% endblock %}
