{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create Entry{% endblock %}

{% block page_content %}
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.industry) }}
        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.ticker) }}
        {{ wtf.form_field(form.event) }}
        <br>
        <input formaction="{{ url_for('calendar.create')}}" type="submit" value="Create" name="create_button" />
    </form>
{% endblock %}