{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div style="padding: 20px;">
    {%  for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{ message }}
    </div>
    {%  endfor %}
    <script>
        function close() {
            if (window.parent && window.parent.closeModale) {
                window.parent.closeModale();
            }
        }
        setTimeout(close, 2000);
    </script>

    <input formaction="{{ url_for('calendar.create')}}" type="submit" value="Close" onclick="close()" style="margin-left: 50%;" />

</div>
{% endblock %}