{% extends "base.html" %}


{% block header %}
    <h1>{% block title %}Calendar{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('books.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        {% for entry in entries %}
        <article class="post">
            <header>
                <div>
                    <p>Industry: {{ entry['Industry'] }}</p>
                    <h2>Event: {{ entry['Event'] }}</h2>
                    <p>Date: {{ entry['Date'] }}</p>
                    <p>Ticker: {{ entry['Ticker'] }}</p>
                </div>
            </header>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
