{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" herf="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <style>
      #menu {
          position: absolute;
          left: -200px;
          top: -200px;
          padding:5px;
      }
      #menu .hide{
        opacity:0.3;
      }
      #menu div, #menu span {
          pointer-events: none;
      }
      .ui-icon {
        zoom: 125%;
        transform: scale(1.25);
        display:inline-block;
      }
    </style>
{% endblock %}

{% block header %}
    <h1>{% block title %}Calendar{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('books.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <button id="create-new" style="float: right;">Create new record</button>
    <label>Filters by date</label>
    </br>
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    </br></br>
    <table id="books_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Industry</th>
            <th>Event</th>
            <th>Date</th>
            <th>Ticker</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr data-id="{{ entry['id'] }}" id="row_{{ entry['id'] }}" class="data-row">
                <td data-field="1">{{ entry['Industry'] }}</td>
                <td data-field="2">{{ entry['Event'] }}</td>
                <td data-field="3">{{ entry['Date'] }}</td>
                <td data-field="4">{{ entry['Ticker'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="menu" class="hide">
        <button title="Change" data-action="change"><span class="ui-icon ui-icon-pencil"></span></button>
        <button title="Delete" data-action="delete"><span class="ui-icon ui-icon-trash"></span></button>
      </div>
      
<div id="dialog-form" title="Create/edit calendar">
    <iframe src="about:_blank" style="width:100%; height:100%; border:0;" id="editframe" ></iframe>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>

    var dialog = null;
    $(function(){

        var updateData = function() {
            /*$.ajax({
                type: "GET",
                url: '/calendar/search',
                success: function (data) {
                    console.log(data);
                    var books_table = $('#books_table');
                    books_table.html($('#books_table', $(data)).html());
                    books_table = books_table.DataTable();
                }
            });*/
            location.reload();
        };

        dialog = $( "#dialog-form" ).dialog({
          autoOpen: false,
          height: 550,
          width: 750,
          modal: true,
          close: function() {
            $('#editframe').attr('src', 'about:_blank');
            updateData();
          }
        });
        $('#create-new').on('click', function(){
            $('#editframe').attr('src', '/calendar/add');
            dialog.dialog( "open" );
        });
        window.closeModale = function () {
            $('#editframe').attr('src', 'about:_blank');
            updateData();
            dialog.dialog( "close" );
        }
    });

        var books_table = $('#books_table')
        $(document).ready(function () {
            books_table = books_table.DataTable();

            /*$("#menu").menu({
                disabled: true
            });*/
        });

        var dateFormat = "dd.mm.yy";
        $.datepicker.setDefaults({
            dateFormat: dateFormat
        });
        $(function () {
            from = $("#from")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                    books_table.draw();
                }),
                to = $("#to").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                        books_table.draw();
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    console.error(error);
                    date = null;
                }

                console.log("return ", date);
                return date;
            }

            function isCorrectDate(date) {
                var d = date.replace(/(\d\d)\.(\d\d)\.(\d\d)/, '$2.$1.$3');
                d = Date.parse(d);
                return Number.isNaN(d) ? false : d;
            }

            function intoRange(value, from, to) {
                if (!from && !to) {
                    return true;
                }
                // HARD CODE YEAR process 18 to 2018
                var year = value.replace(/(\d\d)\.(\d\d)\.(\d\d)/, '$2.$1.20$3');
                console.log("FILTER_1", value, year, from, to);
                year = Date.parse(year);
                if (Number.isNaN(year)) {
                    console.error("Error parse date", value, typeof value, year);
                    return false;
                }

                if (from && to && year > from && year < to) {
                    console.log("FILTER_2", value, year, from, to);
                    return true;
                } else {
                    if (from && to) {
                        return false;
                    }
                    if (from && from && year > from) {
                        console.log("FILTER_3", value, year, from, to);
                        return true;
                    }
                    if (to && to && year < to) {
                        console.log("FILTER_4", value, year, from, to);
                        return true;
                    }
                    console.log("FILTER_5", value, year, from, to);
                    return false;
                }
            }

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    console.log("ext.search.push_1", settings, data, dataIndex);
                    var from = isCorrectDate($("#from").val());
                    var to = isCorrectDate($("#to").val());
                    console.log("ext.search.push_2", from, to);
                    return intoRange(data[2], from, to);
                }
            );
        })

        var contextId = null;

        $( "tr" ).hover(
          function(event) {
            var tr = event.target.parentNode;
            var id = tr.dataset.id;
            var offset = $(tr).offset();
            $("#menu").attr("data-id", id);
            $("#menu").removeClass("hide");
            $("#menu").css({top: offset.top+2, left: offset.left-85});
            },
            function(event){
              $("#menu").addClass("hide");
              //$("#menu").css({top: -1000, left: -1000});
            }
        );
        $("#menu").hover(
          function(event){
            $("#menu").removeClass("hide");
        });

        document.querySelector("#menu").addEventListener("click", function (event) {
            event.preventDefault();
            console.log("====ACTION====", event.target.parentNode.dataset, event.target.dataset.action);
            var contextId = event.target.parentNode.dataset.id;
            switch(event.target.dataset.action) {
                case 'create':
                    $('#editframe').attr('src', '/calendar/add');
                    dialog.dialog("open");
                    break;
                case 'change':{
                    console.log(dialog,event.target.dataset.action);
                    $('#editframe').attr('src', '/calendar/' + contextId + '/update');
                    dialog.dialog("open");
                    break;}
                case 'delete':
                    if (confirm("Do you really want to delete record?")) {
                        $.ajax({
                            type: "POST",
                            url: '/calendar/' + contextId + '/delete',
                            success: function () {
                                updateData();
                            }
                        });
                    }
            }

        });
        document.addEventListener("click", function (event) {

            //$("#menu").menu("disable");
            $("#menu").css({top: -1000, left: -1000})
        });
    </script>
{% endblock %}
