{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Update Entry{% endblock %}

{% block page_content %}
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="none") }}

        {{ wtf.form_field(form.industry) }}
        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.ticker) }}
        {{ wtf.form_field(form.event) }}
        <br>
        <input formaction="{{ url_for('calendar.update', id=entry_id)}}" type="submit" value="Update" name="update_button" />
    </form>
{% endblock %}