{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Update Entry{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Update Entry</h1>
</div>
<div class="col-md-4">
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.industry) }}
        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.ticker) }}
        {{ wtf.form_field(form.event) }}
        <br>
        <input formaction="{{ url_for('calendar.update', id=entry_id)}}" type="submit" value="Update" name="update_button" />
        <input formaction="{{ url_for('calendar.delete', id=entry_id)}}" type="submit" value="Delete" name="delete_button" />
        <a href="{{ url_for('calendar.index') }}">Back to the calendar</a>
    </form>

</div>
{% endblock %}